.listContainer {
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  padding: 20px 30px;
  position: sticky;
  top: 10px;
  height: max-content;
  background-color: #f8f8f8;
}

.lsTitle {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 14px;
}

.lsItem > input {
  height: 30px;
  padding: 5px;
  font-size: 14px;
}
.lsItem > span {
  font-size: 14px;
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lsOptions {
  padding: 10px;
}

.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 14px;
}

.lsOptionInput {
  width: 50px;
}

.listSearch > button {
  padding: 10px;
  background-color: rgb(29, 100, 236);
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 30px;
}

.listResult {
  flex: 3;
}
.lsItem .date {
  top: 220px;
}
.optionCounterButton {
  border: 1px solid rgba(0, 0, 0, 0.452);
  color: black;
}
.listResult__hotels {
  margin-bottom: 20px;
}
.lsDestination {
  position: relative;
}
.lsDestination .filterCity {
  position: absolute;
  top: 70px;
  width: 80%;
}
/* media query */
@media screen and (max-width: 768px) {
  .listWrapper {
    flex-direction: column;
  }
  .listSearch {
    position: static;
  }
  .listResult {
    margin-bottom: 40px;
  }
}
