.header {
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1280px;
  margin: 20px 0;
}

.headerList {
  background-image: url("../../../public/banner.jpg");
  height: 301px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.headerList h4 {
  font-size: 40px;
}
.headerList p {
  font-size: 20px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: rgb(29, 100, 236);
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.headerSearch {
  height: 40px;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 45px;
  width: 80%;
  margin: -30px auto 0 auto;
}

.headerIcon {
  color: black;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  font-size: 16px;
}
.headerSearchInput::placeholder {
  color: black;
}

.headerSearchText {
  color: black;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 350px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 170px;
  background-color: white;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
.filterCity {
  display: flex;
  width: 100%;
  max-width: 300px;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 40px;
  z-index: 999;
  padding: 15px;
}
.headerFilter {
  position: relative;
}
/* media */
@media (max-width: 768px) {
  .headerList {
    height: 250px;
  }
  .headerList h4 {
    font-size: 22px;
  }
  .headerList p {
    font-size: 14px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .headerSearch {
    width: 100%;
    flex-direction: column;
    height: auto;
    font-size: 14px;
  }
  .headerSearchInput {
    font-size: 14px;
  }
  .date {
    left: 0;
  }
}
