.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navContainer {
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 400;
  font-size: 18px;
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  color: #1d64ec;
  border: 1px solid #1d64ec;
  cursor: pointer;
  background: transparent;
}
.navItems {
  display: flex;
  align-items: center;
}
.navUser {
  cursor: pointer;
}
.navItems a {
  text-decoration: none;
  color: black;
}
